/* #region UTILITIES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    white-space: pre-line;

    p,
    pre {
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Lato", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    h1 {
        font-family: "Lato", sans-serif;
        font-weight: 900;
        font-style: normal;
    }

    .light {
        font-family: "Lato", sans-serif;
        font-weight: 300;
        font-style: normal;
        color: rgb(146, 146, 146)
    }
}

img {
    width: 100%;
}

:root {
    --dis-bg-primary: rgb(38, 112, 250)
}


.debug {
    * {

        /* .container,
        .row,
        [class*="col"] {
            border: 0.01rem solid green;
        } */

    }
}

/* #endregion UTILITIES */


/* #region CONTAINERS STRUCTURE */

.container {
    max-width: 1200px;
    width: 80%;
    margin: 20px auto;

}

.row {
    display: flex;
    flex-wrap: wrap;
}

[class*="col"] {
    padding: 1rem;
}

.small_container {
    width: 95%;
    border: 0.05rem solid rgb(190, 186, 186);
    justify-self: center;
    min-height: 1010px;
}

.bottom {
    border: 0.05rem solid rgb(190, 186, 186);
}

.middle {
    width: 80%;
    padding: 1rem;
    justify-self: center;
    min-height: 508px;
    border-bottom: 0.05rem solid rgb(190, 186, 186);
}

.salienti {
    width: 80%;
    padding: 1rem;
    justify-self: center;
}

/* Dimensioni colonne */

.col-12 {
    width: calc(100% / 12 * 12);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-3 {
    width: calc(100% / 12 * 3);
}

.col-7 {
    width: calc(100% / 12 * 7);
}

.col-5 {
    width: calc(100% / 12 * 5);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

/* #endregion CONTAINERS STRUCTURE */

/* #region DETAILS */

.button {
    background-color: var(--dis-bg-primary);
    color: white;
    text-align: center;
    border-radius: 0.1rem;
}

.button:hover {
    background-color: white;
    color: var(--dis-bg-primary);
    border: 0.1rem solid var(--dis-bg-primary);
    cursor: pointer;
}

.operazioni img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.bar_piani {
    text-align: center;
    border-bottom: 0.05rem solid rgb(190, 186, 186);
    padding-bottom: 1rem;
}